<h1>Api-sod</h1>
	<table>
   <tr>
      <th>routes</th>
      <th>requête</th>
      <th>params attendu</th>
   </tr>
   <tr>
      <td>/users</td>
      <td>post</td>
      <td>email,username,firstname,lastname,town,country,sex,birthday,password,password_confirmation: que des strings</td>
 	 </tr>
	 <tr>
      <td>/users</td>
      <td>patch/put</td>
      <td>email,username,current_password,password,password_confirmation et authentication_token en get: que des strings</td>
	  </tr>
	</table>



